
.address{
  background-color: black;
  color: white;
   
 }
 

 .cardContainer{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin: 10px;
 background: silver;

 
 }
 .card{
   margin: 10px;
   align-items: center;
 }
 
 .active_class{
 
 color: black;
 border-bottom: 2px solid red;
 }
 /* Nav.Link styling*/
 .nav-link{
  padding: 5px !important;
   font-size: bold !important;
 }
 .address{
   text-align: center;
    padding: 5px;
 }
 
